<#include "incl/macros.html">
<#def TITLE>Coq <#CURRENTVERSION></#def>
<#include "incl/header.html">

<div class="framework">
<div class="frameworklabel">The current version: Coq <#CURRENTVERSION>
</div>
<div class="frameworkcontent">

<p>For downloads (in particular to get installers for Windows and Mac OS, the PDF
  manual, or a tarball of the sources), please go to
  <a href="<#CURRENTVERSIONURL>">the release page on GitHub</a>.</p>

<p>
We also provide instructions on
<a href="/opam/www/using.html">
how to install Coq and related packages via OPAM
</a>
step by step on MacOS and Linux.
</p>

</div><!-- frameworkcontent -->
</div><!-- framework -->

<div class="framework">
<div class="frameworklabel">Previous and development versions of Coq </div>
<div class="frameworkcontent">

<p>The development version of Coq is <a href="https://github.com/coq/coq">browsable</a>
and downloadable from our Git repository using command:
<tt>git clone https://github.com/coq/coq.git</tt>.
</p>

<p>Most of the previous versions of Coq are available <a href="<#RELEASES>">on
GitHub</a> or <a href="/distrib/">here</a>.</p>

</div>
</div>

<#include "incl/footer.html">
