<#include "incl/macros.html">
<#def TITLE>Welcome!</#def>
<#def PATH></#def>
<#include "incl/header.html">

<div class="framework">
<div class="frameworklabel"><a style="color:black;font-weight:bold" href="/what-is-coq">What is Coq ?</a></div>
<div class="frameworkcontent">
  <p>Coq is a formal proof management system. It provides a formal language to write mathematical definitions, executable algorithms and theorems together with an environment for semi-interactive development of machine-checked proofs. Typical applications include the <a href="/cocorico/List%20of%20Coq%20PL%20Projects">certification of properties of programming languages</a> (e.g. the <a href="http://compcert.inria.fr">CompCert</a> compiler certification project, or the <a href="http://plv.csail.mit.edu/bedrock/">Bedrock</a> verified low-level programming library), the <a href="/cocorico/List%20of%20Coq%20Math%20Projects">formalization of mathematics</a> (e.g. the full formalization of the <a href="https://hal.inria.fr/hal-00816699">Feit-Thompson theorem</a> or <a href="http://homotopytypetheory.org/coq/">homotopy type theory</a>) and <a href="/cocorico/CoqInTheClassroom">teaching</a>.
  </p>
</div>

<div class="frameworklinks">
<ul>
<li><a href="/what-is-coq"> More about Coq </a></li>
</ul>
</div>
</div>


<div class="framework">
<div class="frameworklabel"><a style="color:black;font-weight:bold" href="/download">How to get it ?</a></div>
<div class="frameworkcontent">
  <p>You can download <a href="<#CURRENTVERSIONURL>">the current stable version,
      Coq <#CURRENTVERSION></a>, released in <#CURRENTVERSIONDATE>. It
      features many quality-of-life improvements, including goal
      differences as well as numeral and custom notations.</p>
<#ifdef UPCOMINGVERSION>
  <p><a href="<#UPCOMINGVERSIONURL>">The upcoming version, Coq <#UPCOMINGVERSION></a>,
    released in <#UPCOMINGVERSIONDATE>, is also available for testing.</p>
</#ifdef>
</div>
<div class="frameworklinks">
<ul>
<li><a href="<#CURRENTVERSIONURL>">Get Coq <#CURRENTVERSION></a></li>
<#ifdef UPCOMINGVERSION>
<li><a href="<#UPCOMINGVERSIONURL>">Get Coq <#UPCOMINGVERSION></a></li>
</#ifdef>
</ul>
</div>
</div>

<div class="framework">
<div class="frameworklabel">How to contribute ?</div>
<div class="frameworkcontent">
    <p>You can contribute to the development of Coq by reporting bugs,
    submitting pull requests, improving the documentation, and in many other
    ways. We are also looking for sponsors who want to contribute financially
    through the <a href="/consortium">Coq Consortium</a>. If you are interested,
    please get in touch!</p>
</div>

<div class="frameworklinks">
<ul>
<li><a href="https://github.com/coq/coq/blob/master/CONTRIBUTING.md">Contributing guide</a></li>
<li><a href="/consortium">Coq Consortium</a></li>
</ul>
</div>
</div>

<div class="framework">
<div class="frameworklabel"><a  style="color:black;font-weight:bold" href="/documentation">Documentation</a></div>
<div class="frameworkcontent">
  <p>The reference documentation for Coq are the <a
  href="/distrib/current/refman"> Reference Manual </a> and the
  documentation of the <a href="/distrib/current/stdlib">
  Standard Library</a>. Other useful documents
  (tutorials, faq, ...) are available from the <a
  href="/documentation">documentation</a>
  page.</p>
</div>

<div class="frameworklinks">
<ul>
<li><a href="/distrib/current/refman"> Reference Manual </a></li>
<li><a href="/distrib/current/stdlib/"> Standard Library </a></li>
<li><a href="/documentation">All Documents</a></li>
</ul>
</div>
</div>


<div class="framework">
<div class="frameworklabel"><a style="color:black;font-weight:bold" href="/community">The Coq Community</a></div>
<div class="frameworkcontent">

<p>There is a strong and active community of users working with
Coq. They are contributing formal developments,
extensions of Coq
(see <a href="/packages">Coq Package Index</a>),
and tools based on Coq
(see <a href="/related-tools">Related Tools</a>).
</p>

</div>

<div class="frameworklinks">
<ul>
<li><a href="/coq-workshop">Coq Workshop</a></li>
<li><a href="/packages">Coq Package Index</a></li>
<li><a href="/bugs/">Bug tracker</a></li>
<li><a href="/community">Community</a></li>
</ul>
</div>
</div><!-- /framework -->

<#include "incl/footer.html">
